.portfolioPage {
  height: 100%;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.mainTitle {
  font-size: 60px;
  margin-bottom: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.galleryItem {
  height: 600px;
  width: 500px;
  border: 5px solid #bbb;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: var(--transition);
  opacity: 0.4;
  z-index: 1;
  background-color: black;
  transition: var(--transition);
}
.link:hover::before {
  opacity: 0.6;
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
  color: var(--link-color);
}

.link:hover .title {
  color: var(--hover-color);
}

@media only screen and (max-width: 1700px) {
  .galleryItem {
    height: 500px;
    width: 400px;
  }
}

@media only screen and (max-width: 1400px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 978px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .mainTitle {
    font-size: 40px;
  }
}

@media only screen and (max-width: 578px) {
  .galleryItem {
    height: 400px;
    width: 280px;
  }
}
