.navbar {
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link {
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  transition: var(--transition);
}
.link:hover {
  color: var(--hover);
}
