.hero {
  padding-top: 150px;
  height: 4000px;
}

.content {
  display: flex;
  gap: 100px;
  align-items: center;
}

.title {
  font-size: 72px;
  line-height: 1.2;
  background: linear-gradient(to bottom, #1ab769, #bbb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
}

.description {
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}