.container {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg-color-dark);
}

@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotating 2s linear infinite;
}

